APP_ICON ICON "res/icons/app.ico"

ICON_FOLDER_UP_BUTTON RCDATA "res/icons/button/folder_up.png"
ICON_FOLDER_UP_BUTTON_PRESSED RCDATA "res/icons/button/folder_up_pr.png"
ICON_ADD_ROUND_BUTTON RCDATA "res/icons/button/add.png"
ICON_ADD_ROUND_BUTTON_PRESSED RCDATA "res/icons/button/add_pr.png"

ICON_DETACH_BUTTON RCDATA "res/icons/button/detach.png"
ICON_MAXIMIZE_BUTTON RCDATA "res/icons/button/scalability.png"
ICON_CLOSE_BUTTON RCDATA "res/icons/button/close.png"

ICON_PLAY_BUTTON ICON "res/icons/button/play.ico"
ICON_SETTINGS_BUTTON ICON "res/icons/button/gear.ico"

ICON_FOLDER_LABEL RCDATA "res/icons/label/folder.png"
ICON_HIERARCHY_LABEL RCDATA "res/icons/label/hierarchy.png"
ICON_SCENE_LABEL RCDATA "res/icons/label/scene.png"
ICON_INFO_LABEL RCDATA "res/icons/label/info.png"
ICON_TERMINAL_LABEL RCDATA "res/icons/label/terminal.png"
ICON_SCRIPT_LABEL RCDATA "res/icons/label/script.png"
ICON_WORLD_LABEL RCDATA "res/icons/label/world.png"
ICON_EMPTY_LABEL RCDATA "res/icons/label/axis.png"
ICON_MESH_LABEL RCDATA "res/icons/label/cube.png"
ICON_PREFAB_LABEL RCDATA "res/icons/label/cube-black.png"
ICON_LIGHT_LABEL RCDATA "res/icons/label/light.png"
ICON_CAMERA_LABEL RCDATA "res/icons/label/camera.png"

ICON_FOLDER_FILE RCDATA "res/icons/file/folder.png"
ICON_TEXT_FILE ICON "res/icons/file/text.ico"
ICON_IMAGE_FILE RCDATA "res/icons/file/image.png"
ICON_SCRIPT_FILE RCDATA "res/icons/file/script.png"
ICON_AUDIO_FILE RCDATA "res/icons/file/audio.png"
ICON_VIDEO_FILE RCDATA "res/icons/file/video.png"
ICON_MODEL_FILE RCDATA "res/icons/file/model.png"
ICON_PREFAB_FILE RCDATA "res/icons/file/prefab.png"
ICON_WORLD_FILE RCDATA "res/icons/file/world.png"
ICON_MATERIAL_FILE RCDATA "res/icons/file/material.png"
ICON_OTHER_FILE ICON "res/icons/file/file.ico"

/////////////////////////////////////////////////////////////////////////////
// File:        wx.rc
// Purpose:     wxWindows resource definitions. ALWAYS include
//              this in your application resource file.
// Author:      Julian Smart
// Created:
// Copyright:   (c) Julian Smart
// Licence:     wxWindows Licence
/////////////////////////////////////////////////////////////////////////////

#include <windows.h>

#include "wx/msw/rcdefs.h"

//////////////////////////////////////////////////////////////////////////////
//
// This is the MDI Window menu
//

wxWindowMenu MENU DISCARDABLE
BEGIN
    POPUP "&Window"
    BEGIN
        MENUITEM "&Cascade",                    4002
        MENUITEM "Tile &Horizontally",          4001
        MENUITEM "Tile &Vertically",            4005
        MENUITEM "",                            -1
        MENUITEM "&Arrange Icons",              4003
        MENUITEM "&Next",                       4004
    END
END

//////////////////////////////////////////////////////////////////////////////
//
// Standard wxWindows Cursors
//

WXCURSOR_HAND           CURSOR  DISCARDABLE     "wx/msw/hand.cur"
WXCURSOR_BULLSEYE       CURSOR  DISCARDABLE     "wx/msw/bullseye.cur"
WXCURSOR_PENCIL         CURSOR  DISCARDABLE     "wx/msw/pencil.cur"
WXCURSOR_MAGNIFIER      CURSOR  DISCARDABLE     "wx/msw/magnif1.cur"
WXCURSOR_ROLLER         CURSOR  DISCARDABLE     "wx/msw/roller.cur"
WXCURSOR_PBRUSH         CURSOR  DISCARDABLE     "wx/msw/pbrush.cur"
WXCURSOR_PLEFT          CURSOR  DISCARDABLE     "wx/msw/pntleft.cur"
WXCURSOR_PRIGHT         CURSOR  DISCARDABLE     "wx/msw/pntright.cur"
WXCURSOR_BLANK          CURSOR  DISCARDABLE     "wx/msw/blank.cur"
WXCURSOR_CROSS          CURSOR  DISCARDABLE     "wx/msw/cross.cur"


//////////////////////////////////////////////////////////////////////////////
//
// Default Icons
//

// First wx icon in alphabetical order.
//
// Notice that it also may be used by Explorer as the application icon if the
// main program doesn't define any icons preceding this one in alphabetical
// order (i.e. any icons defined by it start with "wy", "x", "y"  or "z") in
// 16*16 or 32*32 sizes.
wxICON_AAA                      ICON "wx/msw/std.ico"

//wxDEFAULT_FRAME               ICON "wx/msw/std.ico"
//wxDEFAULT_MDIPARENTFRAME      ICON "wx/msw/mdi.ico"
//wxDEFAULT_MDICHILDFRAME       ICON "wx/msw/child.ico"

// Standard small icons
wxICON_SMALL_CLOSED_FOLDER      ICON "wx/msw/folder1.ico"
wxICON_SMALL_OPEN_FOLDER        ICON "wx/msw/folder2.ico"
wxICON_SMALL_FILE               ICON "wx/msw/file1.ico"
wxICON_SMALL_COMPUTER           ICON "wx/msw/computer.ico"
wxICON_SMALL_DRIVE              ICON "wx/msw/drive.ico"
wxICON_SMALL_CDROM              ICON "wx/msw/cdrom.ico"
wxICON_SMALL_FLOPPY             ICON "wx/msw/floppy.ico"
wxICON_SMALL_REMOVEABLE         ICON "wx/msw/removble.ico"

//////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
//

// For wxContextHelpButton
csquery                 BITMAP "wx/msw/csquery.bmp"

// For obtaining the RGB values of standard colours
wxBITMAP_STD_COLOURS    BITMAP "wx/msw/colours.bmp"

//////////////////////////////////////////////////////////////////////////////
//
// Include manifest file for common controls library v6 required to use themes.
//
// Predefining wxUSE_NO_MANIFEST as 1 always disables the use of the manifest.
// Otherwise we include it only if wxUSE_RC_MANIFEST is defined as 1.
//

#if !defined(wxUSE_NO_MANIFEST) || (wxUSE_NO_MANIFEST == 0)

#if defined(wxUSE_RC_MANIFEST) && wxUSE_RC_MANIFEST

// see "about isolated applications" topic in MSDN
#ifdef ISOLATION_AWARE_ENABLED
    #define wxMANIFEST_ID ISOLATIONAWARE_MANIFEST_RESOURCE_ID
#else
    #define wxMANIFEST_ID CREATEPROCESS_MANIFEST_RESOURCE_ID
#endif

#if !defined(wxUSE_DPI_AWARE_MANIFEST) || wxUSE_DPI_AWARE_MANIFEST == 0
    #define wxMANIFEST_FILE "wx/msw/wx.manifest"
#elif wxUSE_DPI_AWARE_MANIFEST == 1
    #define wxMANIFEST_FILE "wx/msw/wx_dpi_aware.manifest"
#elif wxUSE_DPI_AWARE_MANIFEST == 2
    #define wxMANIFEST_FILE "wx/msw/wx_dpi_aware_pmv2.manifest"
#endif
wxMANIFEST_ID RT_MANIFEST wxMANIFEST_FILE

#endif // wxUSE_RC_MANIFEST

#endif // !defined(wxUSE_NO_MANIFEST) || (wxUSE_NO_MANIFEST == 0)
