APP_ICON ICON "res/icons/app.ico"

// Fonts
FONT_OPENSANS RCDATA "res/fonts/opensans.ttf"

// Default skybox
TEXTURE_SKYBOX_LEFT RCDATA "res/textures/skybox/left.tga"
TEXTURE_SKYBOX_RIGHT RCDATA "res/textures/skybox/right.tga"
TEXTURE_SKYBOX_FRONT RCDATA "res/textures/skybox/front.tga"
TEXTURE_SKYBOX_BACK RCDATA "res/textures/skybox/back.tga"
TEXTURE_SKYBOX_TOP RCDATA "res/textures/skybox/top.tga"
TEXTURE_SKYBOX_BOTTOM RCDATA "res/textures/skybox/bottom.tga"

// Shaders
SHADER_VERTEX_MESH RCDATA "res/shaders/mesh.vert"
SHADER_FRAGMENT_FLAT RCDATA "res/shaders/mesh_flat.frag"
SHADER_FRAGMENT_PHONG RCDATA "res/shaders/mesh_phong.frag"

SHADER_VERTEX_GRID RCDATA "res/shaders/grid.vert"
SHADER_FRAGMENT_GRID RCDATA "res/shaders/grid.frag"

SHADER_VERTEX_ICON RCDATA "res/shaders/icon.vert"
SHADER_FRAGMENT_ICON RCDATA "res/shaders/icon.frag"

SHADER_VERTEX_SKYBOX RCDATA "res/shaders/skybox.vert"
SHADER_FRAGMENT_SKYBOX RCDATA "res/shaders/skybox.frag"

// Shapes
MODEL_SHAPE_CONE RCDATA "res/models/shape/cone.obj"
MODEL_SHAPE_CUBE RCDATA "res/models/shape/cube.obj"
MODEL_SHAPE_CYLINDER RCDATA "res/models/shape/cylinder.obj"
MODEL_SHAPE_MONKEY RCDATA "res/models/shape/monkey.obj"
MODEL_SHAPE_PLANE RCDATA "res/models/shape/plane.obj"
MODEL_SHAPE_SPHERE RCDATA "res/models/shape/sphere.obj"
MODEL_SHAPE_TORUS RCDATA "res/models/shape/torus.obj"

// Button icons
ICON_FOLDER_UP_BUTTON RCDATA "res/icons/button/folder_up.png"
ICON_ADD_ROUND_BUTTON RCDATA "res/icons/button/add.png"

// Label icons
ICON_MAGNIFIER_LABEL RCDATA "res/icons/label/magnifier.png"
ICON_SCENE_LABEL RCDATA "res/icons/label/scene.png"
ICON_HIERARCHY_LABEL RCDATA "res/icons/label/hierarchy.png"

// File icons
ICON_FOLDER_FILE RCDATA "res/icons/file/folder.png"
ICON_TEXT_FILE RCDATA "res/icons/file/text.png"
ICON_IMAGE_FILE RCDATA "res/icons/file/image.png"
ICON_SCRIPT_FILE RCDATA "res/icons/file/script.png"
ICON_AUDIO_FILE RCDATA "res/icons/file/audio.png"
ICON_VIDEO_FILE RCDATA "res/icons/file/video.png"
ICON_MODEL_FILE RCDATA "res/icons/file/model.png"
ICON_PREFAB_FILE RCDATA "res/icons/file/prefab.png"
ICON_WORLD_FILE RCDATA "res/icons/file/world.png"
ICON_MATERIAL_FILE RCDATA "res/icons/file/material.png"
ICON_OTHER_FILE RCDATA "res/icons/file/file.png"

// Object
ICON_OBJECT_WORLD RCDATA "res/icons/label/world.png"
ICON_OBJECT_MESH RCDATA "res/icons/label/cube.png"
ICON_OBJECT_SCENE RCDATA "res/icons/label/scene.png"
ICON_OBJECT_EMPTY RCDATA "res/icons/label/axis.png"
ICON_OBJECT_LIGHT RCDATA "res/icons/label/light.png"
ICON_OBJECT_CAMERA RCDATA "res/icons/label/camera.png"
ICON_OBJECT_PREFAB RCDATA "res/icons/label/cube-black.png"



ICON_DETACH_BUTTON RCDATA "res/icons/button/detach.png"
ICON_MAXIMIZE_BUTTON RCDATA "res/icons/button/scalability.png"
ICON_CLOSE_BUTTON RCDATA "res/icons/button/close.png"

ICON_PLAY_BUTTON ICON "res/icons/button/play.ico"
ICON_SETTINGS_BUTTON ICON "res/icons/button/gear.ico"

ICON_FOLDER_LABEL RCDATA "res/icons/label/folder.png"
ICON_INFO_LABEL RCDATA "res/icons/label/info.png"
ICON_TERMINAL_LABEL RCDATA "res/icons/label/terminal.png"
ICON_SCRIPT_LABEL RCDATA "res/icons/label/script.png"
