<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="HierarchyPane">
		<size>528,469</size>
		<bg>wxSYS_COLOUR_MENU</bg>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>99</rows>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="hierarchyAddButton" member="yes">
							<size>25,25</size>
							<style>wxBORDER_NONE</style>
						</object>
						<flag>wxTOP|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSearchCtrl" name="ID_SEARCHCTRL1" variable="SearchCtrl1" member="yes" />
						<flag>wxTOP|wxLEFT|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="sceneList" member="yes">
					<image_list>&lt;none&gt;</image_list>
					<tree_items>
						<item>sceneList</item>
						<item>&lt;none&gt;</item>
					</tree_items>
					<items_text>
						<item2>sceneList</item2>
						<item2>&lt;none&gt;</item2>
					</items_text>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
